.header{
	padding: 20px 30px 0 0;
	height: 70px;
}
.toko{
	color: red;
	float: left;
	margin: 5px 50px;
}
.header button{
	text-decoration: none;
	color: red;
	margin-top: -20px;
	background-color: white;
	border: none;
	height: 70px;
	font-size: 18px;
	padding: 0 20px;
}
.header a{
	text-decoration: none;
	width: 100%;
	color: red;
}
.header button:hover, .header a:hover{
	transition: 0.5s;
	background-color:red;
	color:white;
}
.search{
	margin: -5px 30px 0 0;
	border: 1px solid red;
	border-radius: 10px;
	padding: 5px 15px;
}
.isi{
	padding: 30px 50px;
}