.header{
	padding: 20px 30px 0 0;
	height: 70px;
}
.toko{
	color: blue;
	float: left;
	margin: 5px 50px;
}
.header button{
	margin-top: -20px;
	height: 70px;
	font-size: 18px;
	padding: 0 20px;
}
.menuProfil{
	position: fixed;
	right: 0;
}
.in{
	transition: 0.5s;
}
.out{
	margin-right: -260px;
	transition: 0.5s;
}
.menuProfil a button{
	height: 50px;
	width: 250px;
}
.header button, .menuProfil a button{
	text-decoration: none;
	color: blue;
	background-color: white;
	border: none;
}
.header a{
	text-decoration: none;
	width: 100%;
	color: blue;
}
.header button:hover, .header a:hover, .menuProfil a button:hover{
	transition: 0.5s;
	background-color:blue;
	color:white;
}
.search{
	margin: -5px 30px 0 0;
	border: 1px solid blue;
	border-radius: 10px;
	padding: 5px 15px;
}
.profil{
	border-radius: 100%;
	width: 60px;
	height: 60px;
	float: right;
	margin: -15px 20px;
	cursor: pointer;
}
.isi{
	padding: 30px 50px;
}
.option{
	text-decoration: none;
	cursor: pointer;
}
.cancel{
	font-size: 20px;
	float: right;
	margin: -30px;
}
.listItem{
	font-size: 18px;
	line-height: 5px;
}
.produk{
	width: 200px;
	height: 200px;
}